.container {
    display: grid;
    
  width: 1000px;
    height: 1000px;
  background-color: burlywood;
  padding: 20px;
    
}


.squareDivs {
 
    
    background-color: rgb(58, 137, 202);

}

.squareDivsChange {
 
    
    background-color: rgb(224, 8, 8);

}
